@model IEnumerable<cabide_solidario.Models.RoupaDoada>
@{
    ViewData["Title"] = "Catálogo de roupas";

}

<h1>Catálogo de roupas</h1>


<form method="get" asp-controller="RoupasDoadas" asp-action="Catalogo">
    <div class="form-group">
        <label for="generoSelect">Filtrar por gênero:</label>
        <select name="genero" id="generoSelect" class="form-control">
            <option value="">Todos</option>
            <option value="Feminino">Feminino</option>
            <option value="Masculino">Masculino</option>
            <option value="Unissex">Unissex</option>
            <option value="Infantil">Infantil</option>
        </select>
    </div>
    <div class="form-group mt-2">
        <label for="codigoProdutoInput">Buscar por código do produto:</label>
        <input type="text" name="codigoProduto" id="codigoProdutoInput" class="form-control" value="@ViewData["CurrentFilterCodigoProduto"]" />
    </div>
    <div class="form-group mt-2">
        <label for="corInput">Buscar por cor:</label>
        <input type="text" name="cor" id="corInput" class="form-control" value="@ViewData["CurrentFilterCor"]" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
</form>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-4 card me-2 mt-2" style="width: 18rem;">
            <img src="~/Produtos/@item.Imagem" class="card-img-top" alt="Alternate Text" />
            <div class="card-body align-content-end">
                <h5 class="card-title">@item.NomeItem</h5>
                <p class="card-text">
                    @Html.Raw(item.Genero)<br />
                    <strong>Cor: </strong>@Html.Raw(item.Cor)<br />
                    <span class="fw-bold">Código do Produto: </span>@Html.Raw(item.CodigoProduto)
                </p>

            </div>
        </div>
    }

</div>