@model cabide_solidario.Models.RoupaDoada

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar um item</h1>

<h3>Tem certeza que deseja remover o item?</h3>
<div>
    <h4>Roupa Doada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamanho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-info">Voltar</a> | 
        <input type="submit" value="Remover" class="btn btn-danger" />
        
    </form>
</div>
